.el-drawer{
    overflow-y: auto;
}
.detail-comment-item{
    border-bottom: 1px solid #999999;
    margin: 12px 0;
    padding-bottom: 5px;
    position: relative;
}
.detail-content{
    padding: 20px;

}
.detail-content-time{
    color: #999999;
    font-size: 12px;
}
.detail-content-title{
    font-size: 30px;
    font-weight: bold;
}
.detail-content-author{
    color: #999999;
    font-size: 16px;
}
.detail-content-main{
    border-top: 1px solid #8f8f8f;
    margin: 20px auto ;

}
.detail-content-function{
    margin: 20px auto ;
}
.detail-content-function>p{
    font-family: 幼圆;
    font-size: 22px;
    padding: 20px 0;
}
.detail-comment{
    padding-left: 50px;
}
.myreply .el-input{
    width: 78%;
    margin-right: 10px;
}
/*搜索*/
.search-drawer{
    margin: 0 auto;
    width: 80%;
}
/* .search-drawer .input-with-select{
    width: 600px;
    margin: 0 auto;
} */
.searchcontent-item{
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(218, 219, 196, 0.267);
    transition: all 0.3s;
    margin: 15px 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}
.searchcontent-item:hover{
    background-color: rgba(145, 145, 145, 0.253);
}
.searchcontent-item span{
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #bbbbbb;
}